body {
  background-image: url('https://logo.systemf.com.au/systemf-450x450.png'), url('https://logo.systemf.com.au/45-deg-stripe.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  background-size: 250px auto, 200px auto;
}
